<footer class="footer">
  <small>
     <%= link_to t("home.message"), "https://www.railstutorial.org/" %>
     <%= link_to t("people.michael"), "https://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("global.about"), about_path %></li>
      <li><%= link_to t("News"), "https://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
